<section class="c-announcements close" role="region" aria-label="{{ 'sections.header.announcement' | t }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="announcements">
          {%- for block in section.blocks -%}
            <div class="announcement">
              {%- if block.settings.announcement != blank -%}
                {%- if block.settings.link != blank -%}
                  <a href="{{ block.settings.link }}">
                {%- endif -%}

                {{ block.settings.announcement }}

                {%- if block.settings.link != blank -%}
                  </a>
                {%- endif -%}
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
        {% render 'icon-close' %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "richtext",
          "id": "announcement",
          "default": "<p>Welcome to our store</p>",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
