<div class="template-404 page-width page-margin center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h1>{{ 'templates.404.subtext' | t }}</h1>
      </div>
      <div class="col-12">
        <div class="d-md-flex align-items-center justify-content-center">
          <h2 class="title">
            {{ 'templates.404.title' | t }}
          </h2>
          <a href="/collections/products" class="button black">{{ 'general.continue_shopping' | t }} <span class="arrow"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
