<section class="c-internal-masthead option-3" aria-lable="Main page">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <h1>{{ page.title | escape }}</h1>
          </div>
      </div>
  </div>
</section>
<section class="container" aria-lable="Main page Content">
  <div class="row justify-content-center">
      <div class="col-12 col-lg-10 py-0 py-lg-5 mb-5">  
          <div class="rte page-content">
            {{ page.content }}
          </div>          
      </div>
  </div>
</section>



{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
