<div class="container rich-text">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">   
        <div class="rich-text__heading--medium text-center">
          {{ section.settings.heading }}
        </div>
        <div class="rich-text__text--medium rte-setting text-center">
          {{ section.settings.richtext}}
          
          {% if section.settings.cta_text != blank %}
            <a class="button orange" href="{{ section.settings.cta_url }}">{{ section.settings.cta_text }}</a>
          {% endif %}
        </div>
    </div>
  </div>
</div>
        {% schema %}
{
  "name": "Rich Text",
  "class": "section-rich-text",
     "tag": "section",
  "settings": [
    {
    "type": "text",
    "id": "heading",
    "label": "Heading"
    },
    {
    "type": "richtext",
    "id": "richtext",
    "label": "Rich Text"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA URL"
    }
       ],
    "presets": [
    {
    "name": "Rich Text"
    }
    ]
    }
    {% endschema %}