{% layout none %}<html>{{ content_for_header }}<script src="https://whai-cdn.nyc3.cdn.digitaloceanspaces.com/quiz/production/script_tag.js"></script><head>
                 <meta charset="utf-8">
                 <meta http-equiv="X-UA-Compatible" content="IE=edge">
                 <meta name="viewport" content="width=device-width,initial-scale=1"></head><body><askwhai-quiz-root mode="embed" quiz=9055></askwhai-quiz-root></body></html>